extends layout
block content
	h1 Want to create an account with your atlassian profile?
	p. 
		We got your atlassian profile but couldn't find an account in our database. 
		Do you want to create a new account using your atlassian profile with one click?
	a(href="/register-atlassian/confirm") Register with atlassian